@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap');

body {
	background-color: $gray-900;
	color: $gray-200;
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	font-family: 'Grenze Gotisch', cursive;
	color: goldenrod;
	text-transform: uppercase;
}
