@import "bootstrap/scss/bootstrap";

body {
	background-color: $gray-900;
	color: $gray-200;
}

.todolist {
	.done {
		.todo-title {
			font-style: italic;
			text-decoration: line-through;
		}
	}
}

span.todo-title {
	display: flex;
    align-items: center;
	font-size: .9rem;
}

ul {
	padding: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}

li {
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	background-color: rgb(49, 49, 49);
	color: rgb(230, 230, 230);
	padding: 0px 10px 0px 10px;
	margin: 10px;
	border-bottom: 3px solid rgb(102, 102, 102);
	border-right: 3px solid rgb(102, 102, 102);
	border-top: 1px solid grey;
	border-left: 1px solid grey;
}

h3,
p {
	font-size: .9rem;
	color: rgb(180, 180, 180);
	padding-top: 20px;
}

h1,
h3,
p,
li,
button {
	letter-spacing: 1px;
}

.btn-todo {
	margin: 5px;
	color: rgb(230, 230, 230);
	font-size: .8rem;
	border-bottom: 2px solid grey;
	border-right: 2px solid grey;
}
