#root {
	max-width: 800px;
	margin: 5vw;
}

.todo {
	display: flex;
    align-items: center;
    justify-content: space-between;
	border: 3px solid goldenrod;
	border-bottom: 3px solid rgb(129, 98, 18);
	border-right: 3px solid rgb(129, 98, 18);
    padding: 10px;
	margin: 5px;
}

.btn-toggle {
	border: 1px solid gold;
	color: goldenrod;
}

.btn-delete {
	border: 1px solid gray;
}

h1,
p,
li,
button {
	letter-spacing: 1.5px;
}

li {
	color: goldenrod;
}
