@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

body {
	background-color: rgb(52, 54, 61);
	color: rgb(255, 255, 255);
}

.navbar {
	border: 1px solid lightgrey;

	.navbar-brand {
		margin: 5px;
	}

	a.navbar-brand {
		font-family: 'Staatliches', cursive;
	}
}

.todolist {
	.done {
			text-decoration: line-through;
	}
}

.list-group-item {
	padding: 10px;
	background-color: rgb(230, 230, 230);
	border: 1px solid lightgrey;
}

h1,
p,
button,
a {
	letter-spacing: 1.5px;
}

.btn {
	border: 1px solid white;
}
